{% extends 'blog/base.html' %}
{% load static %}
{% block content %}

  <section>
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-6 order-lg-2">
          <div class="p-5">
            <img class="img-fluid rounded-circle" src="{% static 'img/shirani.jpg' %}" alt="">
          </div>
        </div>
        <div class="col-lg-6 order-lg-1">
          <div class="p-5">
            <h2 class="display-4">Hi There,</h2>
            <p>
              Welcome to Dona marketing site,<br>

              My name is Mary Sryiani Dona,
              I’m so pleased to have you here on our site
              This website is dedicated to providing you the very best of products from the most leading online shopping stores.
              I only review and recommend the proven and profitable products! Taking action is an advantage to gain all the profits and benefits that the product can offer for you and your business.
              I hope you enjoy our products as much as we enjoy offering them to you.

               <br><br>
               Thank You For Your Visit !
               <br>
               Feel free! <br>
              
              Mary Sriyani Dona
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock content %}